@import "vars";
@import "mixins";


.container {
    @include brakepoint($tablet-bp) {
        margin: 0 30px;
    }

    @include brakepoint($mobile_l-bp) {
        margin: 0 20px;
    }
}

.breadcrumbs__content {
    margin-top: 15px;
}

/*--------------------------------my-cart----------------------------*/

.my-cart {
    display: flex;
    justify-content: center;
    margin: 30px 0 160px 0;

    @include brakepoint($mobile_l-bp) {
        margin: 28px 0 80px 0;
    }

    .container {
        @include brakepoint($mobile_l-bp) {
            width: 90%;
        }
    }
}

.my-cart__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;

    @include brakepoint($mobile_l-bp) {
        font-size: 28px;
    }
}

.my-cart__content {
    display: flex;
    margin-top: 15px;

    @include brakepoint($tablet-bp) {
        flex-direction: column;
    }
}

.my-cart__content-left {
    width: 73.4%;

    @include brakepoint($tablet-bp) {
        width: 100%;
    }

    @include brakepoint($mobile_l-bp) {
        display: none;
    }
}

.card-basket__titles {
    display: flex;
    width: 100%;

    h3 {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
    }

    .title-1 {
        width: 47%;

        @include brakepoint($laptop-bp) {
            width: 51%;
        }
    }

    .title-2 {
        width: 31%;

        @include brakepoint($tablet-bp) {
            width: 37%;
        }
    }
}

.my-cart__content-right {
    width: 21%;

    @include brakepoint($tablet-bp) {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    @include brakepoint($mobile_l-bp) {
        display: none;
    }

    .card-basket__titles {
        @include brakepoint($tablet-bp) {
            display: none;
        }
    }
}

.card-basket__items {
    width: 100%;
    max-height: 339px;
    overflow: auto;
    margin-top: 25px;
}

.card-basket__item {
    display: flex;
    margin-bottom: 25px;

    .product__photo {
        width: 88px;
        height: 88px;
        overflow: hidden;
        margin-right: 54px;
    }

    .product__content {
        width: 31%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 12px;
            font-weight: 400;
            color: #97979B;
            line-height: 13px;
            margin-bottom: 6px;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .product-price {
            display: flex;
            align-items: flex-end;

            .actual {
                font-size: 18px;
                margin-right: 22px;
            }

            .old {
                font-size: 14px;
                color: #97979B;
                text-decoration: line-through;
            }
        }
    }

    .pagination-select {
        margin: auto 0;
        width: 20%;

        @include brakepoint($tablet-bp) {
            width: 26%;
        }
    }

    .pagination__selector {
        width: 118px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #58585A;

        span {
            font-size: 25px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    .delete-button {
        margin: auto 0;
        width: 11%;
    }

    .card-basket__total-price {
        font-size: 18px;
        font-weight: 400;
        height: 28px;
        margin: auto 0;
    }
}

.my-cart__content-scroll {
    display: flex;
    width: 5.6%;
    align-items: center;

    @include brakepoint($laptop-bp) {
        width: 3.6%;
    }

    @include brakepoint($tablet-bp) {
        width: 100%;
        margin-top: 10px;
    }
    
    span {
        display: block;
        width: 2px;
        height: 317px;
        background-color: #7E7E81;

        @include brakepoint($tablet-bp) {
            height: 2px;
            width: 100%;
        }

        @include brakepoint($mobile_l-bp) {
            height: 1px;
        }
    }
}

.my-cart__content-right__content {
    margin-top: 45px;

    @include brakepoint($tablet-bp) {
        margin-top: 30px;
    }
    
    .total-price {
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 30px;

        @include brakepoint($tablet-bp) {
            display: none;
        }
    }

    .order-instructions {
        display: flex;
        margin-bottom: 18px;

        p {
            font-size: 12px;
            font-weight: 400;
        }

        img {
            margin-left: 24px;

            &:hover {
                cursor: pointer;
            }
        }

        .add-box-minus {
            display: none;
        }

        .edit {
            font-size: 14px;
            font-weight: 400;
            color: #2979FF;
            margin-left: 11px;
            display: none;
        }

        .edit.active {
            display: block;
        }
    }

    .order-instruction {
        display: none;
        resize: none;
        width: 260px;
        height: 80px;
        background-color: #58585A;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        padding: 6px;
        margin-bottom: 16px;

        &:focus {
            outline: none;
        }

        @include brakepoint($laptop-bp) {
            width: 195px;
        }

        @include brakepoint($tablet-bp) {
            width: 260px;
        }

        @include brakepoint($mobile_s-bp) {
            width: 200px;
        }
    }

    .order-instruction.active {
        display: block;
    }

    .add-box.active {
        .add-box-minus {
            display: block;
            margin: -3px 0 0 22px;
        }

        .add-box-plus {
            display: none;
        }
    }

    .button-preview {
        font-size: 12px;
        font-weight: 400;
    }

    .checkout-button {
        margin-top: 55px;
    
        .checkout__link {
            padding: 18px 53px;
            background-color: $secondary-blue;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 24px;
            transition: all .2s linear;

            &:hover {
                background-color: $button-hover;
                color: white;
                box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.my-cart__content-right__content.active {
    margin-top: 10px;

    @include brakepoint($tablet-bp) {
        margin-top: 30px;
    }

    .total-price {
        margin-bottom: 20px;
    }

    .checkout-button {
        margin-top: 40px;
    }
}

.my-cart__content-right__content-mobile {
    display: none;

    .card-basket__titles {
        display: block;
    }

    .total-price {
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    @include brakepoint($tablet-bp) {
        display: block;
    }
}

/*--------------------------------mobile---------------------------------*/

.my-cart__content-left__mobile {
    display: none;

    @include brakepoint($mobile_l-bp) {
        display: block;
    }
}

.my-cart__content-left__mobile-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .left-side {
        display: flex;

        .product__photo {
            width: 68px;
            height: 68px;
            margin-right: 15px;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 10px;
        }

        .pagination__selector {
            width: 85px;
            height: 31px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #58585A;
    
            span {
                font-size: 25px;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.my-cart__content-right__mobile {
    display: none;
    margin-top: 19px;

    @include brakepoint($mobile_l-bp) {
        display: block;
    }

    .high-block {
        display: flex;
        justify-content: space-between;

        .left-side {
            .my-cart__content-right__content {
                margin-top: 10px;
            }

            h3 {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .right-side {
            .total-price {
                font-size: 28px;
                font-weight: 600;
            }
        }
    }

    .checkout-button {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .checkout__link {
            display: block;
            width: 100%;
            padding: 16px 0;
            background-color: $secondary-blue;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 24px;
            transition: all .2s linear;
    
            &:hover {
                background-color: $button-hover;
                color: white;
                box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

