@media (max-width: 824px) {
  .container {
    margin: 0 30px;
  }
}
@media (max-width: 668px) {
  .container {
    margin: 0 20px;
  }
}

.breadcrumbs__content {
  margin-top: 15px;
}

/*--------------------------------my-cart----------------------------*/
.my-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 160px 0;
}
@media (max-width: 668px) {
  .my-cart {
    margin: 28px 0 80px 0;
  }
}
@media (max-width: 668px) {
  .my-cart .container {
    width: 90%;
  }
}

.my-cart__title {
  font-size: 44px;
  font-weight: 600;
  line-height: 55px;
}
@media (max-width: 668px) {
  .my-cart__title {
    font-size: 28px;
  }
}

.my-cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
@media (max-width: 824px) {
  .my-cart__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.my-cart__content-left {
  width: 73.4%;
}
@media (max-width: 824px) {
  .my-cart__content-left {
    width: 100%;
  }
}
@media (max-width: 668px) {
  .my-cart__content-left {
    display: none;
  }
}

.card-basket__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.card-basket__titles h3 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}
.card-basket__titles .title-1 {
  width: 47%;
}
@media (max-width: 1025px) {
  .card-basket__titles .title-1 {
    width: 51%;
  }
}
.card-basket__titles .title-2 {
  width: 31%;
}
@media (max-width: 824px) {
  .card-basket__titles .title-2 {
    width: 37%;
  }
}

.my-cart__content-right {
  width: 21%;
}
@media (max-width: 824px) {
  .my-cart__content-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 668px) {
  .my-cart__content-right {
    display: none;
  }
}
@media (max-width: 824px) {
  .my-cart__content-right .card-basket__titles {
    display: none;
  }
}

.card-basket__items {
  width: 100%;
  max-height: 339px;
  overflow: auto;
  margin-top: 25px;
}

.card-basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.card-basket__item .product__photo {
  width: 88px;
  height: 88px;
  overflow: hidden;
  margin-right: 54px;
}
.card-basket__item .product__content {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-basket__item .product__content p {
  font-size: 12px;
  font-weight: 400;
  color: #97979B;
  line-height: 13px;
  margin-bottom: 6px;
}
.card-basket__item .product__content h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.card-basket__item .product__content .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card-basket__item .product__content .product-price .actual {
  font-size: 18px;
  margin-right: 22px;
}
.card-basket__item .product__content .product-price .old {
  font-size: 14px;
  color: #97979B;
  text-decoration: line-through;
}
.card-basket__item .pagination-select {
  margin: auto 0;
  width: 20%;
}
@media (max-width: 824px) {
  .card-basket__item .pagination-select {
    width: 26%;
  }
}
.card-basket__item .pagination__selector {
  width: 118px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #58585A;
}
.card-basket__item .pagination__selector span {
  font-size: 25px;
}
.card-basket__item .pagination__selector span:hover {
  cursor: pointer;
}
.card-basket__item .delete-button {
  margin: auto 0;
  width: 11%;
}
.card-basket__item .card-basket__total-price {
  font-size: 18px;
  font-weight: 400;
  height: 28px;
  margin: auto 0;
}

.my-cart__content-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1025px) {
  .my-cart__content-scroll {
    width: 3.6%;
  }
}
@media (max-width: 824px) {
  .my-cart__content-scroll {
    width: 100%;
    margin-top: 10px;
  }
}
.my-cart__content-scroll span {
  display: block;
  width: 2px;
  height: 317px;
  background-color: #7E7E81;
}
@media (max-width: 824px) {
  .my-cart__content-scroll span {
    height: 2px;
    width: 100%;
  }
}
@media (max-width: 668px) {
  .my-cart__content-scroll span {
    height: 1px;
  }
}

.my-cart__content-right__content {
  margin-top: 45px;
}
@media (max-width: 824px) {
  .my-cart__content-right__content {
    margin-top: 30px;
  }
}
.my-cart__content-right__content .total-price {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 824px) {
  .my-cart__content-right__content .total-price {
    display: none;
  }
}
.my-cart__content-right__content .order-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}
.my-cart__content-right__content .order-instructions p {
  font-size: 12px;
  font-weight: 400;
}
.my-cart__content-right__content .order-instructions img {
  margin-left: 24px;
}
.my-cart__content-right__content .order-instructions img:hover {
  cursor: pointer;
}
.my-cart__content-right__content .order-instructions .add-box-minus {
  display: none;
}
.my-cart__content-right__content .order-instructions .edit {
  font-size: 14px;
  font-weight: 400;
  color: #2979FF;
  margin-left: 11px;
  display: none;
}
.my-cart__content-right__content .order-instructions .edit.active {
  display: block;
}
.my-cart__content-right__content .order-instruction {
  display: none;
  resize: none;
  width: 260px;
  height: 80px;
  background-color: #58585A;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding: 6px;
  margin-bottom: 16px;
}
.my-cart__content-right__content .order-instruction:focus {
  outline: none;
}
@media (max-width: 1025px) {
  .my-cart__content-right__content .order-instruction {
    width: 195px;
  }
}
@media (max-width: 824px) {
  .my-cart__content-right__content .order-instruction {
    width: 260px;
  }
}
@media (max-width: 321px) {
  .my-cart__content-right__content .order-instruction {
    width: 200px;
  }
}
.my-cart__content-right__content .order-instruction.active {
  display: block;
}
.my-cart__content-right__content .add-box.active .add-box-minus {
  display: block;
  margin: -3px 0 0 22px;
}
.my-cart__content-right__content .add-box.active .add-box-plus {
  display: none;
}
.my-cart__content-right__content .button-preview {
  font-size: 12px;
  font-weight: 400;
}
.my-cart__content-right__content .checkout-button {
  margin-top: 55px;
}
.my-cart__content-right__content .checkout-button .checkout__link {
  padding: 18px 53px;
  background-color: #7A5CE6;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.my-cart__content-right__content .checkout-button .checkout__link:hover {
  background-color: #593CC0;
  color: white;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}

.my-cart__content-right__content.active {
  margin-top: 10px;
}
@media (max-width: 824px) {
  .my-cart__content-right__content.active {
    margin-top: 30px;
  }
}
.my-cart__content-right__content.active .total-price {
  margin-bottom: 20px;
}
.my-cart__content-right__content.active .checkout-button {
  margin-top: 40px;
}

.my-cart__content-right__content-mobile {
  display: none;
}
.my-cart__content-right__content-mobile .card-basket__titles {
  display: block;
}
.my-cart__content-right__content-mobile .total-price {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 824px) {
  .my-cart__content-right__content-mobile {
    display: block;
  }
}

/*--------------------------------mobile---------------------------------*/
.my-cart__content-left__mobile {
  display: none;
}
@media (max-width: 668px) {
  .my-cart__content-left__mobile {
    display: block;
  }
}

.my-cart__content-left__mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}
.my-cart__content-left__mobile-item .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.my-cart__content-left__mobile-item .left-side .product__photo {
  width: 68px;
  height: 68px;
  margin-right: 15px;
}
.my-cart__content-left__mobile-item .left-side h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}
.my-cart__content-left__mobile-item .left-side .pagination__selector {
  width: 85px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #58585A;
}
.my-cart__content-left__mobile-item .left-side .pagination__selector span {
  font-size: 25px;
}
.my-cart__content-left__mobile-item .left-side .pagination__selector span:hover {
  cursor: pointer;
}
.my-cart__content-left__mobile-item .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-cart__content-right__mobile {
  display: none;
  margin-top: 19px;
}
@media (max-width: 668px) {
  .my-cart__content-right__mobile {
    display: block;
  }
}
.my-cart__content-right__mobile .high-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.my-cart__content-right__mobile .high-block .left-side .my-cart__content-right__content {
  margin-top: 10px;
}
.my-cart__content-right__mobile .high-block .left-side h3 {
  font-size: 18px;
  font-weight: 400;
}
.my-cart__content-right__mobile .high-block .right-side .total-price {
  font-size: 28px;
  font-weight: 600;
}
.my-cart__content-right__mobile .checkout-button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.my-cart__content-right__mobile .checkout-button .checkout__link {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: #7A5CE6;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 24px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.my-cart__content-right__mobile .checkout-button .checkout__link:hover {
  background-color: #593CC0;
  color: white;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}
