@import "vars";
@import "mixins";

/*--------------------------------------header------------------------------------*/

.nav__item.active {
    border-bottom: 2px solid $secondary-blue
}


/*-------------------------------------main-banner--------------------------------*/

.main-banner {
    background-image: url("/img/catalog-main-banner-bg.png");

    @include brakepoint($laptop-bp) {
        background-image: url("/img/catalog-main-banner-tablet.png");
        height: 278px;
        padding: 0;
    }

    @include brakepoint($mobile_l-bp) {
        background-image: url("/img/catalog-main-banner-mobile.png");
        height: 186px;
        justify-content: center;
        
        .main-banner__content {
            padding: 0 0 0 16px;
            align-items: flex-start;

            .main-banner__title {
                width: 50%;
                order: -1;
            }

            .main-banner__preview {
                margin: 10px 0 0 0;
            }
        }
    }
}

.main-banner__button {
    display: none;
}

.main-banner__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-banner__title {
        margin-bottom: 0;

        @include brakepoint($laptop-bp) {
            width: 400px;
        }
    }
}

/*------------------------------------breadcrumbs---------------------------------*/

.breadcrumbs {
    display: flex;
    justify-content: center;
}

.breadcrumbs__content {
    display: flex;
    align-items: center;
    color: #7E7E81;
    font-size: 18px;
    margin-top: 30px;

    span {
        width: 2px;
        height: 16px;
        background-color: #7E7E81;
        margin: 0 20px;

        @include brakepoint($mobile_l-bp) {
            height: 13px;
            margin: 0 14px;
        }
    }

    .breadcrumbs__link {
        &--active {
            color: #fff;
        }
    }

    @include brakepoint($mobile_l-bp) {
        font-size: 14px;
        margin-top: 24px;
    }
}

/*------------------------------------product-cards---------------------------------*/

.product-cards {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 160px;

    @include brakepoint($laptop-bp) {
        .container {
            width: 100%;
            padding: 0 20px;
        }
    }

    @include brakepoint($mobile_l-bp) {
        position: relative;
        margin-bottom: 80px;

        .open-all-cards__mobile {
            position: absolute;
            bottom: 22px;
        }
    }
}

.product-cards__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;

    @include brakepoint($mobile_l-bp) {
        display: none;
    }
}

.product-cards__content {
    display: flex;
    justify-content: space-between;

    .navigation {
        width: 17%;
        margin-top: 88px;

        @include brakepoint($mobile_l-bp) {
            display: none;
        }
    }
}

.navigation__item-preview-1, .navigation__item-preview-2, .navigation__item-preview-3, .navigation__item-preview-4, .navigation__item-preview-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include brakepoint($tablet-bp) {
        margin-bottom: 45px;
    }

    .navigation__item-title {
        font-size: 18px;
        color: #7E7E81;
        font-weight: 400;
    }

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.navigation__item-preview-1.active, .navigation__item-preview-2.active, .navigation__item-preview-3.active, .navigation__item-preview-4.active, .navigation__item-preview-5.active {
    .navigation__item-title {
        color: #fff;
    }

    img {
        transform: rotate(180deg);
    }
}

.navigation__item-content-1, .navigation__item-content-2, .navigation__item-content-3, .navigation__item-content-4, .navigation__item-content-5{ 
    display: none;
}

.navigation__item-content-1.active, .navigation__item-content-2.active, .navigation__item-content-3.active, .navigation__item-content-4.active, .navigation__item-content-5.active {
    display: block;
    margin-bottom: 24px;

    @include brakepoint($tablet-bp) {
        margin-top: -20px;
    }
}

.navigation__item-list {
    padding-bottom: 38px;
}

.navigation__item-link {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}


/*--------------------------------------------product-card__view-1-----------------------------------*/

.product-card {
    width: 70%;

    @include brakepoint($mobile_l-bp) {
        width: 100%;
    }
}

.product-card__view-1.dis_n {
    display: none;
}

.product-card__view-1.dis_b {
    display: block;
}

.product-card__view-2.dis_n {
    display: none;
}

.product-card__view-2.dis_b {
    display: block;

    .list-bulleted {
        opacity: 1;
    }

    .list-grid {
        opacity: 0.5;
    }
}

.trouvaille-cards {
    grid-template-columns: repeat(3, 33.3%);
    grid-column-gap: 0px;
    grid-template-rows: auto;
    grid-row-gap: 50px;

    @include brakepoint($laptop-bp) {
        .cards__item--tr {
            height: auto;
        }
    }

    @include brakepoint($tablet-bp) {
        grid-template-columns: repeat(2, 46%);
        grid-column-gap: 45px;

        .cards__item--tr {
            height: auto;
            padding: 0;
             
            .card__photo {
                img {
                 margin-bottom: 16px;
                }
            }
    
            .card__title {
                font-size: 16px;
            }
    
            .card__price {
                margin: 8px 0;
            }
    
            .card__basket {
                height: 55px;
                width: 55px;
                bottom: 0px;
            }
    
            .card__selected {
                top: 15px;
                right: 15px;
        
                img {
                    height: 27px;
                    width: 27px;
                }
            }
    
        }
    }

    @include brakepoint($mobile_l-bp) {
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 10px;

        .cards__item--tr {
            .card__title {
                font-size: 12px;
            }

            .card__price {
                font-size: 18px;
                margin: 5px 0;
            }

            .card__selected {
                top: 10px;
                right: 10px;
                
                img {
                    height: 20px;
                    width: 20px;

                }
            }

            .card__basket {
                height: 40px;
                width: 40px;
                bottom: 100px;

                img {
                    transform: scale(0.8);
                }
            }
        }
    }
}

.sorting {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: #7E7E81;
    margin-bottom: 30px;
    padding: 0 16px;

    @include brakepoint($tablet-bp) {
        padding: 0;
    }

    @include brakepoint($mobile_l-bp) {
        font-size: 18px;
        text-transform: uppercase;
    }
}

.sorting-select {
    display: flex;
    align-items: center;

    img {
        &:hover {
            cursor: pointer;
        }
    }

    @include brakepoint($mobile_l-bp) {
        width: 100%;
        justify-content: space-between;
    }

    img {
        transform: scale(1.8);
    }
}

.sorting-select__text {
    margin-right: 8px;
}

.view-select {
    display: flex;

    .list-bulleted {
        opacity: 0.5;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
        }
    }

    .list-grid {
        margin-left: 28px;

        &:hover {
            cursor: pointer;
        }
    }

    @include brakepoint($mobile_l-bp) {
        display: none;
    }
}

.showing-number {
    font-size: 14px;
    font-weight: 400;
    color: #7E7E81;
    padding: 0 16px;
    margin-top: 80px;

    @include brakepoint($mobile_l-bp) {
        margin-top: 0;
    }
}


/*--------------------------------------------product-card__view-2-----------------------------------*/
.product-card__view-2 {
    display: none;
}

.product-card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 103px;
    width: 100%;
    margin-bottom: 5px;
    transition: all .3s linear;

    &:hover {
        background-color: $card__hover-bg;

        .card__basket-v2 {
            display: flex;
        }
    }
}

.left-block {
    display: flex;
    align-items: center;

    .product__photo {
        margin-right: 54px;
    }

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .product-price {
            display: flex;
            align-items: flex-end;

            .actual {
                font-size: 18px;
                margin-right: 22px;
            }

            .old {
                font-size: 14px;
                color: #97979B;
                text-decoration: line-through;
            }
        }
    }
}

.right-block {
    display: flex;
    align-items: center;
}

.card__basket-v2 {
    height: 52px;
    width: 52px;
    background-color: $secondary-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 70px;
    display: none;

    img {
        transform: scale(1.4);
        transition: transform .2s linear;
    }

    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}





/*-----------------------------------------main-banner-second-------------------------------*/
.main-banner__second {
    display: flex;
    justify-content: center;
    padding: 40px 0 48px 0;
    background-image: url("/img/main-banner-second-bg.png");
    background-size: cover;
    height: 278px;
    margin-bottom: 160px;

    .main-banner__button {
        display: block;
        width: 260px;
    }

    .main-banner__title {
        margin-bottom: 30px;
    }

    @include brakepoint($laptop-bp) {
        height: 388px;
        background-image: url("/img/main-banner-second-bg-tablet.png");
        padding: 0;
    }

    @include brakepoint($mobile_l-bp) {
        height: 387px;
        background-image: url("/img/main-banner-second-bg-mobile.png");
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 16px 40px 16px;
        margin-bottom: 80px;

        .container {
            width: 100%;
            margin: 0;
        }

        .main-banner__content {
            padding: 0;
            align-items: flex-start;
            justify-content: space-between;

            .main-banner__preview {
                width: 50%;
                margin-bottom: 32px;
            }

            .main-banner__title {
                width: 50%;
                margin-bottom: 60px;
            }

            .main-banner__button {
                width: 100%;
            }
        }  
    }
}


/*---------------------------------------recently-viewed------------------------------*/

.recently-viewed {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    @include brakepoint($laptop_l-bp) {
        .container {
            width: 100%;
            padding: 0 20px;
        }
    }

    @include brakepoint($mobile_l-bp) {
        margin-bottom: 80px;
    }
}

.recently-viewed__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;

    @include brakepoint($mobile_l-bp) {
        font-size: 28px;
    }
}

.recently-viewed__content {
    display: grid;
    grid-template-columns: repeat(6, 21%);
    grid-template-rows: autopx;
    grid-column-gap: 22px;
    margin-top: 80px;
    overflow: auto;

    @include brakepoint($tablet-bp) {
        grid-template-columns: repeat(6, 31%);
    }

    @include brakepoint($mobile_l-bp) {
        grid-template-columns: repeat(6, 80%);
        margin-top: 32px;
    }

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 12px;
            font-weight: 400;
            color: #97979B;
            margin: 15px 0 6px 0;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .product-price {
            display: flex;
            align-items: center;

            .actual {
                font-size: 24px;
                margin-right: 16px;
            }

            .old {
                font-size: 16px;
                color: #97979B;
                text-decoration: line-through;
            }
        }
    }
}

.recently-viewed__photo {
    img {
        width: 100%;
        height: auto;
    }
}

.recently-viewed__item {
    position: relative;

    .card__selected {
        top: 22px;
        right: 22px;
    }
}



