/*--------------------------------------header------------------------------------*/
.nav__item.active {
  border-bottom: 2px solid #7A5CE6;
}

/*-------------------------------------main-banner--------------------------------*/
.main-banner {
  background-image: url("/img/catalog-main-banner-bg.png");
}
@media (max-width: 1025px) {
  .main-banner {
    background-image: url("/img/catalog-main-banner-tablet.png");
    height: 278px;
    padding: 0;
  }
}

.main-banner__button {
  display: none;
}

.main-banner__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-banner__content .main-banner__title {
  margin-bottom: 0;
}
@media (max-width: 1025px) {
  .main-banner__content .main-banner__title {
    width: 400px;
  }
}

/*------------------------------------breadcrumbs---------------------------------*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumbs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7E7E81;
  font-size: 18px;
  margin-top: 30px;
}
.breadcrumbs__content span {
  width: 2px;
  height: 16px;
  background-color: #7E7E81;
  margin: 0 20px;
}
.breadcrumbs__content .breadcrumbs__link--active {
  color: #fff;
}

/*------------------------------------product-cards---------------------------------*/
.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 160px;
}
@media (max-width: 1025px) {
  .product-cards .container {
    width: 100%;
    padding: 0 20px;
  }
}

.product-cards__title {
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
}

.product-cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-cards__content .navigation {
  width: 17%;
  margin-top: 88px;
}

.navigation__item-preview-1, .navigation__item-preview-2, .navigation__item-preview-3, .navigation__item-preview-4, .navigation__item-preview-5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 824px) {
  .navigation__item-preview-1, .navigation__item-preview-2, .navigation__item-preview-3, .navigation__item-preview-4, .navigation__item-preview-5 {
    margin-bottom: 45px;
  }
}
.navigation__item-preview-1 .navigation__item-title, .navigation__item-preview-2 .navigation__item-title, .navigation__item-preview-3 .navigation__item-title, .navigation__item-preview-4 .navigation__item-title, .navigation__item-preview-5 .navigation__item-title {
  font-size: 18px;
  color: #7E7E81;
  font-weight: 400;
}
.navigation__item-preview-1 img:hover, .navigation__item-preview-2 img:hover, .navigation__item-preview-3 img:hover, .navigation__item-preview-4 img:hover, .navigation__item-preview-5 img:hover {
  cursor: pointer;
}

.navigation__item-preview-1.active .navigation__item-title, .navigation__item-preview-2.active .navigation__item-title, .navigation__item-preview-3.active .navigation__item-title, .navigation__item-preview-4.active .navigation__item-title, .navigation__item-preview-5.active .navigation__item-title {
  color: #fff;
}
.navigation__item-preview-1.active img, .navigation__item-preview-2.active img, .navigation__item-preview-3.active img, .navigation__item-preview-4.active img, .navigation__item-preview-5.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navigation__item-content-1, .navigation__item-content-2, .navigation__item-content-3, .navigation__item-content-4, .navigation__item-content-5 {
  display: none;
}

.navigation__item-content-1.active, .navigation__item-content-2.active, .navigation__item-content-3.active, .navigation__item-content-4.active, .navigation__item-content-5.active {
  display: block;
  margin-bottom: 24px;
}
@media (max-width: 824px) {
  .navigation__item-content-1.active, .navigation__item-content-2.active, .navigation__item-content-3.active, .navigation__item-content-4.active, .navigation__item-content-5.active {
    margin-top: -20px;
  }
}

.navigation__item-list {
  padding-bottom: 38px;
}

.navigation__item-link {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

/*--------------------------------------------product-card__view-1-----------------------------------*/
.product-card {
  width: 70%;
}

.product-card__view-1.dis_n {
  display: none;
}

.product-card__view-1.dis_b {
  display: block;
}

.product-card__view-2.dis_n {
  display: none;
}

.product-card__view-2.dis_b {
  display: block;
}
.product-card__view-2.dis_b .list-bulleted {
  opacity: 1;
}
.product-card__view-2.dis_b .list-grid {
  opacity: 0.5;
}

.trouvaille-cards {
  grid-template-columns: repeat(3, 33.3%);
  grid-column-gap: 0px;
  grid-template-rows: auto;
  grid-row-gap: 50px;
}
@media (max-width: 1025px) {
  .trouvaille-cards .cards__item--tr {
    height: auto;
  }
}
@media (max-width: 824px) {
  .trouvaille-cards {
    grid-template-columns: repeat(2, 46%);
    grid-column-gap: 45px;
  }
  .trouvaille-cards .cards__item--tr {
    height: auto;
    padding: 0;
  }
  .trouvaille-cards .cards__item--tr .card__photo img {
    margin-bottom: 16px;
  }
  .trouvaille-cards .cards__item--tr .card__title {
    font-size: 16px;
  }
  .trouvaille-cards .cards__item--tr .card__price {
    margin: 8px 0;
  }
  .trouvaille-cards .cards__item--tr .card__basket {
    height: 55px;
    width: 55px;
    bottom: 0px;
  }
  .trouvaille-cards .cards__item--tr .card__selected {
    top: 15px;
    right: 15px;
  }
  .trouvaille-cards .cards__item--tr .card__selected img {
    height: 27px;
    width: 27px;
  }
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #7E7E81;
  margin-bottom: 30px;
  padding: 0 16px;
}
@media (max-width: 824px) {
  .sorting {
    padding: 0;
  }
}

.sorting-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting-select img:hover {
  cursor: pointer;
}

.sorting-select__text {
  margin-right: 8px;
}

.view-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.view-select .list-bulleted {
  opacity: 0.5;
  margin-left: 12px;
}
.view-select .list-bulleted:hover {
  cursor: pointer;
}
.view-select .list-grid {
  margin-left: 28px;
}
.view-select .list-grid:hover {
  cursor: pointer;
}

.showing-number {
  font-size: 14px;
  font-weight: 400;
  color: #7E7E81;
  padding: 0 16px;
  margin-top: 80px;
}

/*--------------------------------------------product-card__view-2-----------------------------------*/
.product-card__view-2 {
  display: none;
}

.product-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  height: 103px;
  width: 100%;
  margin-bottom: 5px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.product-card__item:hover {
  background-color: #1a1a1a;
}
.product-card__item:hover .card__basket-v2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-block .product__photo {
  margin-right: 54px;
}
.left-block .product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.left-block .product__content h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.left-block .product__content .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.left-block .product__content .product-price .actual {
  font-size: 18px;
  margin-right: 22px;
}
.left-block .product__content .product-price .old {
  font-size: 14px;
  color: #97979B;
  text-decoration: line-through;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__basket-v2 {
  height: 52px;
  width: 52px;
  background-color: #7A5CE6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px 0 70px;
  display: none;
}
.card__basket-v2 img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.card__basket-v2:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*-----------------------------------------main-banner-second-------------------------------*/
.main-banner__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 48px 0;
  background-image: url("/img/main-banner-second-bg.png");
  background-size: cover;
  height: 278px;
  margin-bottom: 160px;
}
.main-banner__second .main-banner__button {
  display: block;
  width: 260px;
}
.main-banner__second .main-banner__title {
  margin-bottom: 30px;
}
@media (max-width: 1025px) {
  .main-banner__second {
    height: 388px;
    background-image: url("/img/main-banner-second-bg-tablet.png");
    padding: 0;
  }
}
@media (max-width: 668px) {
  .main-banner__second {
    height: 559px;
    background-image: url("/img/main-banner-bg-mobile.png");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 0 0 0;
  }
  .main-banner__second .container {
    width: 100%;
    margin: 0;
  }
}

/*---------------------------------------recently-viewed------------------------------*/
.recently-viewed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
}
@media (max-width: 1281px) {
  .recently-viewed .container {
    width: 100%;
    padding: 0 20px;
  }
}

.recently-viewed__title {
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
}

.recently-viewed__content {
  display: grid;
  grid-template-columns: repeat(6, 21%);
  grid-template-rows: autopx;
  grid-column-gap: 22px;
  margin-top: 80px;
  overflow: auto;
}
@media (max-width: 824px) {
  .recently-viewed__content {
    grid-template-columns: repeat(6, 31%);
  }
}
.recently-viewed__content .product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recently-viewed__content .product__content p {
  font-size: 12px;
  font-weight: 400;
  color: #97979B;
  margin: 15px 0 6px 0;
}
.recently-viewed__content .product__content h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.recently-viewed__content .product__content .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recently-viewed__content .product__content .product-price .actual {
  font-size: 24px;
  margin-right: 16px;
}
.recently-viewed__content .product__content .product-price .old {
  font-size: 16px;
  color: #97979B;
  text-decoration: line-through;
}

.recently-viewed__photo img {
  width: 100%;
  height: auto;
}

.recently-viewed__item {
  position: relative;
}
.recently-viewed__item .card__selected {
  top: 22px;
  right: 22px;
}
