@import "vars";
@import "mixins";

/*--------------------------------------header------------------------------------*/

.nav__item.active {
    border-bottom: 2px solid $secondary-blue
}


/*-------------------------------------main-banner--------------------------------*/

.main-banner {
    background-image: url("/img/catalog-main-banner-bg.png");

    @include brakepoint($laptop-bp) {
        background-image: url("/img/catalog-main-banner-tablet.png");
        height: 278px;
        padding: 0;
    }
}

.main-banner__button {
    display: none;
}

.main-banner__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-banner__title {
        margin-bottom: 0;

        @include brakepoint($laptop-bp) {
            width: 400px;
        }
    }
}

/*------------------------------------breadcrumbs---------------------------------*/

.breadcrumbs {
    display: flex;
    justify-content: center;
}

.breadcrumbs__content {
    display: flex;
    align-items: center;
    color: #7E7E81;
    font-size: 18px;
    margin-top: 30px;

    span {
        width: 2px;
        height: 16px;
        background-color: #7E7E81;
        margin: 0 20px;
    }

    .breadcrumbs__link {
        &--active {
            color: #fff;
        }
    }
}

/*------------------------------------product-cards---------------------------------*/

.product-cards {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 160px;

    @include brakepoint($laptop-bp) {
        .container {
            width: 100%;
            padding: 0 20px;
        }
    }
}

.product-cards__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
}

.product-cards__content {
    display: flex;
    justify-content: space-between;

    .navigation {
        width: 17%;
        margin-top: 88px;
    }
}

.navigation__item-preview-1, .navigation__item-preview-2, .navigation__item-preview-3, .navigation__item-preview-4, .navigation__item-preview-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .navigation__item-title {
        font-size: 18px;
        color: #7E7E81;
        font-weight: 400;
    }

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.navigation__item-preview-1.active, .navigation__item-preview-2.active, .navigation__item-preview-3.active, .navigation__item-preview-4.active, .navigation__item-preview-5.active {
    .navigation__item-title {
        color: #fff;
    }

    img {
        transform: rotate(180deg);
    }
}

.navigation__item-content-1, .navigation__item-content-2, .navigation__item-content-3, .navigation__item-content-4, .navigation__item-content-5{ 
    display: none;
}

.navigation__item-content-1.active, .navigation__item-content-2.active, .navigation__item-content-3.active, .navigation__item-content-4.active, .navigation__item-content-5.active {
    display: block;
    margin-bottom: 24px;
}

.navigation__item-list {
    padding-bottom: 38px;
}

.navigation__item-link {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}


/*--------------------------------------------product-card__view-1-----------------------------------*/

.product-card {
    width: 70%;
}

.product-card__view-1.dis_n {
    display: none;
}

.product-card__view-1.dis_b {
    display: block;
}

.product-card__view-2.dis_n {
    display: none;
}

.product-card__view-2.dis_b {
    display: block;

    .list-bulleted {
        opacity: 1;
    }

    .list-grid {
        opacity: 0.5;
    }
}

.trouvaille-cards {
    grid-template-columns: repeat(3, 33.3%);
    grid-column-gap: 0px;
    grid-template-rows: auto;
    grid-row-gap: 50px;

    .cards__item--tr {
        height: auto;
    }

    // @include brakepoint($laptop-bp) {
    //     grid-template-columns: repeat(3, 231px);
    //     grid-column-gap: 0px;
    //     grid-template-rows: 394px;
    //     grid-row-gap: 15px;

    //     .card-basket {
    //         bottom: 38px;
    //     }

    //     .card__item--tr {
    //         height: 405px;

    //         .card__photo {
    //             img {
    //                 margin-bottom: 16px;
    //             }
    //         }
    //     }
    // }
}

.sorting {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: #7E7E81;
    margin-bottom: 30px;
    padding: 0 16px;
}

.sorting-select {
    display: flex;
    align-items: center;

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.sorting-select__text {
    margin-right: 8px;
}

.view-select {
    display: flex;

    .list-bulleted {
        opacity: 0.5;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
        }
    }

    .list-grid {
        margin-left: 28px;

        &:hover {
            cursor: pointer;
        }
    }
}

.showing-number {
    font-size: 14px;
    font-weight: 400;
    color: #7E7E81;
    padding: 0 16px;
    margin-top: 80px;
}


/*--------------------------------------------product-card__view-2-----------------------------------*/
.product-card__view-2 {
    display: none;
}

.product-card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 103px;
    width: 100%;
    margin-bottom: 5px;
    transition: all .3s linear;

    &:hover {
        background-color: $card__hover-bg;

        .card__basket-v2 {
            display: flex;
        }
    }
}

.left-block {
    display: flex;
    align-items: center;

    .product__photo {
        margin-right: 54px;
    }

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .product-price {
            display: flex;
            align-items: flex-end;

            .actual {
                font-size: 18px;
                margin-right: 22px;
            }

            .old {
                font-size: 14px;
                color: #97979B;
                text-decoration: line-through;
            }
        }
    }
}

.right-block {
    display: flex;
    align-items: center;
}

.card__basket-v2 {
    height: 52px;
    width: 52px;
    background-color: $secondary-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 70px;
    display: none;

    img {
        transform: scale(1.4);
        transition: transform .2s linear;
    }

    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}





/*-----------------------------------------main-banner-second-------------------------------*/
.main-banner__second {
    display: flex;
    justify-content: center;
    padding: 40px 0 48px 0;
    background-image: url("/img/main-banner-second-bg.png");
    background-size: cover;
    height: 278px;
    margin-bottom: 160px;

    .main-banner__button {
        display: block;
        width: 260px;
    }

    .main-banner__title {
        margin-bottom: 30px;
    }

    @include brakepoint($laptop-bp) {
        height: 388px;
        background-image: url("/img/main-banner-second-bg-tablet.png");
        padding: 0;
    }

    @include brakepoint($mobile_l-bp) {
        height: 559px;
        background-image: url("/img/main-banner-bg-mobile.png");
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 0 0;

        .container {
            width: 100%;
            margin: 0;
        }
    }
}


/*---------------------------------------recently-viewed------------------------------*/

.recently-viewed {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    @include brakepoint($laptop_l-bp) {
        .container {
            width: 100%;
            padding: 0 20px;
        }
    }
}

.recently-viewed__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}

.recently-viewed__content {
    display: grid;
    grid-template-columns: repeat(6, 262px);
    grid-template-rows: 448px;
    grid-column-gap: 22px;
    margin-top: 80px;

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 12px;
            font-weight: 400;
            color: #97979B;
            margin: 15px 0 6px 0;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .product-price {
            display: flex;
            align-items: center;

            .actual {
                font-size: 24px;
                margin-right: 16px;
            }

            .old {
                font-size: 16px;
                color: #97979B;
                text-decoration: line-through;
            }
        }
    }
}

.recently-viewed__photo {
    img {
        width: 100%;
        height: auto;
    }
}

.recently-viewed__item {
    position: relative;

    .card__selected {
        top: 22px;
        right: 22px;
    }
}



