@import "vars";

body {
    background-color: $body__bg-color;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-1;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 1240px;
    margin: 0 10px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .2s linear;

    &:hover {
        text-decoration: none;
        color: $secondary-blue;
    }

    &:active {
        color: $active;
    }
}


/*-----------------------------------top-bar------------------------------------------*/

.top-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 13px 0;
    background-color: #58585A;
}

.top-bar__text {
    text-align: center;
    font-size: 12px;
    line-height: 1;
    position: relative;

    a {
        color: inherit;
        font-weight: 500;
        margin-left: 8px;
        text-decoration: underline;
    }
}

.close__top-bar {
    height: 12px;
    width: 12px;
    position: absolute;
    top: -11px;
    right: 0;

    img {
        height: 11px;
        width: 11px;
    }
}

/*------------------------------------top-bar end---------------------------------------*/



/*------------------------------------header------------------------------------------*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: $header__bg-color;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
}

.main-logo {
    margin-right: 40px;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    line-height: 1;

    a {
        font-size: 14px;
        font-weight: 400;
    }
}

.nav__item {
    padding: 32px 16px 29px 16px;

    &:hover {
        box-sizing: border-box;
        border-bottom: 2px solid $secondary-blue;
    }
}

.header__right {
    display: flex;
    align-items: center;
}

.account-settings {
    display: flex;
    align-items: center;
}

.account-settings__item {
    margin-left: 40px;
}

/*---------------------------------------header end--------------------------------*/


/*-------------------------------------main-banner--------------------------------*/

main {
    width: 100%;
}

.main-banner {
    display: flex;
    justify-content: center;
    padding: 40px 0 48px 0;
    background-image: url("/img/bg-image__main-banner.png");
    background-size: cover;
    height: 278px;
}

.main-banner__preview {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
}

.main-banner__title {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}

.main-manner__button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: $secondary-blue;
    padding: 17px 93px;
    transition: background-color .2s linear;

    &:hover {
        background-color: $button-hover;
        color: white;
        box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
    }
}

/*-------------------------------------main-banner end-----------------------------*/


/*--------------------------------------cards-------------------------------------*/

.cards {
    display: flex;
    justify-content: center;
    padding: 30px 0 100px 0;
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-column-gap: 8px;
    position: relative;
}

.cards__item {
    height: 338px;
    background: transparent;
    padding: 16px;
    position: relative;
    transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear;

    &:hover {
        background-color: $card__hover-bg;
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        
        .card__basket {
            opacity: 1;
        }

        .card-selected-white {
            display: block;
        }

        .card-selected-grey {
            display: none;
        }
    }
}

.card__photo {
    margin-bottom: 16px;
}

.card__title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card__price {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

.stars__rate {
    display: flex;
    align-items: center;

    img {
        height: 12.5px;
        width: 12.5px;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 12px;
        font-weight: 400;
        margin-left: 5px;
    }
}

.card__selected {
    position: absolute;
    top: 30px;
    right: 30px;
}

.card-selected-white {
    display: none;
}

.card__basket {
    height: 30px;
    width: 30px;
    background-color: $secondary-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 19px;
    right: 19px;
    opacity: 0;
}

.slider__arrow-left {
    position: absolute;
    top: 33%;
    left: -21px;
}

.slider__arrow-right {
    position: absolute;
    top: 33%;
    right: -21px;
}

/*--------------------------------------cards end-------------------------------------*/

/*----------------------------------benefits-strip-----------------------------------*/

.benefits-strip {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: $secondary-blue;
    margin-bottom: 100px;
}

.benefits-strip__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secure, .free-shipping, .warranty {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    img {
        margin-right: 20px;
    }
}

/*----------------------------------benefits-strip end-----------------------------------*/

/*---------------------------------------banners-----------------------------------*/

.banners {
    width: 100%;
    display: grid;
    grid-template-columns: 27.638% 42.5% 27.638%;
    grid-column-gap: 16px;
    margin-bottom: 160px;
}

.banner__1 {
    background-image: url("/img/banners/banner__1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 150%;
}

.banner__2 {
    background-image: url("/img/banners/banner__2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 98%;
}

.banner__3-1 {
    background-image: url("/img/banners/banner__3.1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 74.371%;
}

.banner__3-2 {
    background-image: url("/img/banners/banner__3.2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 74.371%;
}

.banner__3 {
    display: grid;
    grid-template-rows: 49.3% 49.3%;
    grid-row-gap: 14px;
}


.banner__text-1 {
    height: 190px;
    background: rgba(46, 46, 46, 0.8);
    margin-top: -190px;
    padding: 32px 56px;

    .subtitle-1 {
        font-size: 12px;
        font-weight: 500;
    }

    .banner__title-1 {
        font-size: 34px;
        font-weight: 600;
        margin: 9px 0;
    }

    .subtitle-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}

.banner__text-2 {
    height: 114px;
    background: rgba(46, 46, 46, 0.8);
    margin-top: -114px;
    padding: 16px 32px;

    .subtitle-1 {
        font-size: 12px;
        font-weight: 500;
    }

    .banner__title-1 {
        font-size: 22px;
        font-weight: 600;
        margin: 5px 0;
    }

    .subtitle-2 {
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
    }
}

/*---------------------------------------banners end-----------------------------------*/

/*------------------------------------new-trouvaille-----------------------------------*/

.new-trouvaille {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 160px;
}

.trouvaille__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 100px;
}

.trouvaille-cards {
    display: grid;
    grid-template-columns: repeat(4, 294px);
    grid-column-gap: 32px;
    position: relative;

    .slider__arrow-right {
        right: -52px;
    }
}

.cards__item--tr {
    height: 484px;
    background: transparent;
    padding: 16px;
    position: relative;
    transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear;

    &:hover {
        background-color: $card__hover-bg;
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        
        .card__basket {
            opacity: 1;
        }

        .card-selected-white {
            display: block;
        }

        .card-selected-grey {
            display: none;
        }
    }

    .card__photo {
        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .card__title {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 1px;
    }

    .card__price {
        font-size: 20px;
    }

    .card__basket {
        height: 43px;
        width: 43px;

        img {
            transform: scale(1.4);
        }
    }
}
