body {
  background-color: #2e2e2e;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

body.lock {
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container {
  width: 1240px;
  margin: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}
a:hover {
  text-decoration: none;
  color: #7A5CE6;
}
a:active {
  color: #997DFF;
}

/*-----------------------------------top-bar------------------------------------------*/
.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 13px 0;
  background-color: #58585A;
}

.top-bar__text {
  text-align: center;
  font-size: 12px;
  line-height: 1;
  position: relative;
}
.top-bar__text a {
  color: inherit;
  font-weight: 500;
  margin-left: 8px;
  text-decoration: underline;
}

.close__top-bar {
  height: 12px;
  width: 12px;
  position: absolute;
  top: -11px;
  right: 0;
}
.close__top-bar img {
  height: 11px;
  width: 11px;
}

.top-bar__tablet-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.top-bar__tablet-text a {
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 1025px) {
  .top-bar__tablet-text {
    display: block;
  }
}
@media (max-width: 426px) {
  .top-bar__tablet-text {
    display: none;
  }
}

/*------------------------------------top-bar end---------------------------------------*/
/*------------------------------------header------------------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #212121;
}
@media (max-width: 1025px) {
  header {
    height: 64px;
  }
}
@media (max-width: 426px) {
  header {
    height: 48px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo {
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-logo .main-logo-mobile {
  display: none;
}
@media (max-width: 1025px) {
  .main-logo a {
    width: 110px;
  }
}
@media (max-width: 426px) {
  .main-logo .main-logo-mobile {
    display: block;
  }
  .main-logo .main-logo-laptop {
    display: none;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}
.main-nav a {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 1025px) {
  .main-nav {
    display: none;
  }
}

.nav__item {
  padding: 32px 16px 29px 16px;
}
.nav__item:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #7A5CE6;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1025px) {
  .account-settings {
    display: none;
  }
}

.account-settings__item {
  margin-left: 40px;
}
.account-settings__item a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.account-settings__item img {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

/*------------------------header__mobile + burger-----------------------*/
.header__right-mobile {
  display: none;
}
@media (max-width: 1025px) {
  .header__right-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 32px;
  height: 24px;
  z-index: 3;
  margin-left: 35px;
  margin-top: 4px;
}
.header__burger::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
}
.header__burger span {
  position: absolute;
  background-color: #fff;
  width: 70%;
  height: 3px;
  bottom: 11px;
  right: 0;
}
.header__burger::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 70%;
  height: 3px;
  bottom: 0;
  right: 0;
}
@media (max-width: 426px) {
  .header__burger {
    width: 25px;
    height: 20px;
    margin-top: 4px;
  }
  .header__burger span {
    bottom: 8px;
  }
}

.header__burger.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.header__burger.active::before {
  content: '';
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.header__burger.active::after {
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__mobile-nav {
  overflow: auto;
  position: absolute;
  right: 0;
  opacity: 0;
  top: 38px;
  width: 337px;
  height: 514px;
  background-color: #212121;
  padding: 100px 37px 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  -webkit-box-shadow: 0px 1px 7px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 1px 7px rgba(168, 172, 176, 0.19);
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
}
@media (max-width: 426px) {
  .header__mobile-nav {
    height: 421px;
    width: 210px;
    font-size: 20px;
    padding: 90px 26px 84px 0;
  }
}

.header__mobile-nav.active {
  opacity: 1;
  position: fixed;
}

.header__mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 426px) {
  .header__mobile-nav__list {
    height: 245px;
    overflow: auto;
  }
}

.header__mobile-nav__link {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__mobile-nav__link img {
  margin-left: 60px;
}
@media (max-width: 426px) {
  .header__mobile-nav__link {
    margin-bottom: 30px;
  }
  .header__mobile-nav__link img {
    margin-left: 22px;
  }
}

.op-05 {
  opacity: 0.5;
}

.basket__mobile {
  position: relative;
  z-index: 5;
}
.basket__mobile::before {
  content: '3';
  position: absolute;
  font-size: 12px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
  background-color: #7A5CE6;
  right: -6px;
  top: -5px;
}
@media (max-width: 426px) {
  .basket__mobile img {
    width: 28px;
    height: 25px;
  }
}

.basket__mobile.dn {
  display: none;
  z-index: 0;
}

/*---------------------------------------header end--------------------------------*/
/*-------------------------------------main-banner--------------------------------*/
main {
  width: 100%;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 48px 0;
  background-image: url("/img/bg-image__main-banner.png");
  background-size: cover;
  height: 278px;
}
@media (max-width: 1025px) {
  .main-banner {
    height: 662px;
    background-image: url("/img/main-banner-bg-tablet.png");
    padding: 307px 0 153px 0;
  }
}
@media (max-width: 426px) {
  .main-banner {
    height: 559px;
    background-image: url("/img/main-banner-bg-mobile.png");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 0 0 0;
  }
  .main-banner .container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 426px) {
  .main-banner__content {
    padding: 40px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-banner__preview {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
}
@media (max-width: 426px) {
  .main-banner__preview {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.main-banner__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}
@media (max-width: 1025px) {
  .main-banner__title {
    margin-bottom: 53px;
  }
}
@media (max-width: 426px) {
  .main-banner__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.main-banner__button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #7A5CE6;
  padding: 17px 93px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
.main-banner__button:hover {
  background-color: #593CC0;
  color: white;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 426px) {
  .main-banner__button {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
}

/*-------------------------------------main-banner end-----------------------------*/
/*--------------------------------------cards-------------------------------------*/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 100px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1025px) {
  .cards {
    padding: 60px 0 66px 0;
  }
}

.mobile-cards__title {
  display: none;
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 426px) {
  .mobile-cards__title {
    display: block;
    margin-bottom: 30px;
  }
}

.cards__items {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-column-gap: 8px;
  position: relative;
}
@media (max-width: 1281px) {
  .cards__items .slider__arrow-left {
    left: 0;
  }
  .cards__items .slider__arrow-right {
    right: 0;
  }
}
@media (max-width: 1025px) {
  .cards__items {
    grid-template-columns: repeat(5, 200px);
    grid-column-gap: 0px;
  }
  .cards__items .cards__item--6 {
    display: none;
  }
}
@media (max-width: 824px) {
  .cards__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 8px;
  }
  .cards__items .cards__item--6 {
    display: block;
  }
}
@media (max-width: 426px) {
  .cards__items {
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 289px;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
  }
  .cards__items .slider__arrow-left, .cards__items .slider__arrow-right {
    display: none;
  }
}

.cards__item {
  height: 338px;
  background: transparent;
  padding: 16px;
  position: relative;
  -webkit-transition: background-color .4s linear, opacity .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
}
.cards__item:hover {
  background-color: #1a1a1a;
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.cards__item:hover .card__basket {
  opacity: 1;
}
.cards__item:hover .card-selected-white {
  display: block;
}
.cards__item:hover .card-selected-grey {
  display: none;
}
@media (max-width: 1025px) {
  .cards__item:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .cards__item:hover .card__photo {
    -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
  .cards__item:hover .card__basket {
    background-color: #7A5CE6;
  }
}
@media (max-width: 426px) {
  .cards__item {
    padding: 0;
    height: 289px;
  }
}

.card__photo {
  margin-bottom: 16px;
}
@media (max-width: 426px) {
  .card__photo {
    margin-bottom: 6px;
  }
}

.card__title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__price {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}

.stars__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stars__rate img {
  height: 12.5px;
  width: 12.5px;
}
.stars__rate img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.stars__rate p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}

.card__selected {
  position: absolute;
  top: 30px;
  right: 30px;
}
.card__selected img {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.card__selected:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 426px) {
  .card__selected {
    top: 13px;
    right: 13px;
  }
}

.card-selected-white {
  display: none;
}

.card__basket {
  height: 30px;
  width: 30px;
  background-color: #7A5CE6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 19px;
  right: 19px;
  opacity: 0;
}
.card__basket img {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.card__basket:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1025px) {
  .card__basket {
    opacity: 1;
    background-color: #97979B;
  }
}
@media (max-width: 426px) {
  .card__basket {
    width: 40px;
    height: 40px;
    bottom: 89px;
    right: 9px;
    background-color: #97979baf;
  }
  .card__basket img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.slider__arrow-left {
  position: absolute;
  top: 33%;
  left: -21px;
}
@media (max-width: 1025px) {
  .slider__arrow-left {
    top: 45%;
    left: 0px;
  }
}

.slider__arrow-right {
  position: absolute;
  top: 33%;
  right: -21px;
}
@media (max-width: 1025px) {
  .slider__arrow-right {
    top: 45%;
    right: 0px;
  }
}

/*--------------------------------------cards end-------------------------------------*/
/*----------------------------------benefits-strip-----------------------------------*/
.benefits-strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #7A5CE6;
  margin-bottom: 100px;
}
@media (max-width: 1025px) {
  .benefits-strip {
    margin-bottom: 80px;
  }
}
@media (max-width: 426px) {
  .benefits-strip {
    height: 309px;
  }
}

.benefits-strip__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 426px) {
  .benefits-strip__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px 0;
  }
}

.secure, .free-shipping, .warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.secure img, .free-shipping img, .warranty img {
  margin-right: 20px;
}
@media (max-width: 824px) {
  .secure, .free-shipping, .warranty {
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .secure, .free-shipping, .warranty {
    font-weight: 400;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secure img, .free-shipping img, .warranty img {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

/*----------------------------------benefits-strip end-----------------------------------*/
/*---------------------------------------banners-----------------------------------*/
.banners {
  width: 100%;
  display: grid;
  grid-template-columns: 27.638% 42.5% 27.638%;
  grid-column-gap: 16px;
  margin-bottom: 160px;
}
@media (max-width: 1025px) {
  .banners {
    margin-bottom: 122px;
  }
}
@media (max-width: 824px) {
  .banners {
    grid-column-gap: 10px;
  }
}
@media (max-width: 426px) {
  .banners {
    grid-template-columns: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner__1 {
  background-image: url("/img/banners/banner__1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 150%;
}
@media (max-width: 426px) {
  .banner__1 {
    display: none;
  }
}

.banner__2 {
  background-image: url("/img/banners/banner__2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 98%;
}
@media (max-width: 426px) {
  .banner__2 {
    display: none;
  }
}

.banner__3-1 {
  background-image: url("/img/banners/banner__3.1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 74.371%;
}

.banner__3-2 {
  background-image: url("/img/banners/banner__3.2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 74.371%;
}

.banner__3 {
  display: grid;
  grid-template-rows: 49.3% 49.3%;
  grid-row-gap: 14px;
}
@media (max-width: 824px) {
  .banner__3 {
    grid-row-gap: 7px;
  }
}
@media (max-width: 426px) {
  .banner__3 {
    grid-row-gap: 16px;
  }
}

.banner__text-1 {
  height: 190px;
  background: rgba(46, 46, 46, 0.8);
  margin-top: -190px;
  padding: 32px 56px;
}
@media (max-width: 1025px) {
  .banner__text-1 {
    padding: 17px 38px;
    height: 129px;
    margin-top: -129px;
  }
}
@media (max-width: 824px) {
  .banner__text-1 {
    padding: 16px 19px;
  }
}
.banner__text-1 .subtitle-1 {
  font-size: 12px;
  font-weight: 500;
}
.banner__text-1 .banner__title-1 {
  font-size: 34px;
  font-weight: 600;
  margin: 9px 0;
}
@media (max-width: 1025px) {
  .banner__text-1 .banner__title-1 {
    font-size: 27px;
    margin: 1px 0;
  }
}
@media (max-width: 824px) {
  .banner__text-1 .banner__title-1 {
    font-size: 22px;
  }
}
.banner__text-1 .subtitle-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 1025px) {
  .banner__text-1 .subtitle-2 br {
    display: none;
  }
}
@media (max-width: 824px) {
  .banner__text-1 .subtitle-2 {
    font-size: 11px;
  }
}

.banner__text-2 {
  height: 114px;
  background: rgba(46, 46, 46, 0.8);
  margin-top: -114px;
  padding: 16px 32px;
}
@media (max-width: 1025px) {
  .banner__text-2 {
    padding: 8px 22px;
    height: 105px;
    margin-top: -105px;
  }
}
@media (max-width: 824px) {
  .banner__text-2 {
    padding: 8px 10px;
    height: 90px;
    margin-top: -90px;
  }
}
.banner__text-2 .subtitle-1 {
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 1025px) {
  .banner__text-2 .subtitle-1 {
    font-size: 10px;
  }
}
.banner__text-2 .banner__title-1 {
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0;
}
@media (max-width: 1025px) {
  .banner__text-2 .banner__title-1 {
    margin: 0;
  }
}
@media (max-width: 824px) {
  .banner__text-2 .banner__title-1 {
    font-size: 17px;
  }
}
@media (max-width: 426px) {
  .banner__text-2 .banner__title-1 {
    font-size: 24px;
  }
}
.banner__text-2 .subtitle-2 {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 824px) {
  .banner__text-2 .subtitle-2 {
    font-size: 8px;
  }
}
@media (max-width: 426px) {
  .banner__text-2 .subtitle-2 {
    font-size: 10px;
  }
}
@media (max-width: 426px) {
  .banner__text-2 {
    padding: 8px 24px;
  }
}

/*---------------------------------------banners end-----------------------------------*/
/*------------------------------------new-trouvaille-----------------------------------*/
.new-trouvaille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 160px;
}
@media (max-width: 1025px) {
  .new-trouvaille {
    margin-bottom: 130px;
  }
}

.trouvaille__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 100px;
}

.trouvaille-cards {
  display: grid;
  grid-template-columns: repeat(4, 294px);
  grid-column-gap: 32px;
  position: relative;
}
.trouvaille-cards .slider__arrow-right {
  right: -52px;
}
@media (max-width: 1281px) {
  .trouvaille-cards {
    grid-column-gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trouvaille-cards .slider__arrow-left {
    left: 15px;
  }
  .trouvaille-cards .slider__arrow-right {
    right: 15px;
  }
}
@media (max-width: 1025px) {
  .trouvaille-cards {
    grid-template-columns: repeat(3, 294px);
    grid-column-gap: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trouvaille-cards .cards__item--tr-1 {
    display: none;
  }
  .trouvaille-cards .slider__arrow-left {
    top: 36%;
    left: 10%;
  }
  .trouvaille-cards .slider__arrow-right {
    top: 36%;
    right: 10%;
  }
}
@media (max-width: 824px) {
  .trouvaille-cards {
    grid-template-columns: repeat(2, 294px);
    grid-gap: 10px;
  }
  .trouvaille-cards .cards__item--tr-1 {
    display: block;
  }
  .trouvaille-cards .slider__arrow-left {
    top: 48%;
    left: 21%;
  }
  .trouvaille-cards .slider__arrow-right {
    top: 48%;
    right: 21%;
  }
}

.cards__item--tr {
  height: 484px;
  background: transparent;
  padding: 16px;
  position: relative;
  -webkit-transition: background-color .4s linear, opacity .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear;
  transition: background-color .4s linear, opacity .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
}
.cards__item--tr:hover {
  background-color: #1a1a1a;
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.cards__item--tr:hover .card__basket {
  opacity: 1;
}
.cards__item--tr:hover .card-selected-white {
  display: block;
}
.cards__item--tr:hover .card-selected-grey {
  display: none;
}
@media (max-width: 1025px) {
  .cards__item--tr:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .cards__item--tr:hover .card__photo {
    -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
  .cards__item--tr:hover .card__basket {
    background-color: #7A5CE6;
  }
}
.cards__item--tr .card__photo img {
  width: 100%;
  margin-bottom: 30px;
}
.cards__item--tr .card__title {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 1px;
}
.cards__item--tr .card__price {
  font-size: 20px;
}
.cards__item--tr .card__basket {
  height: 43px;
  width: 43px;
}
.cards__item--tr .card__basket img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.cards__item--tr .card__basket:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*------------------------------------new-trouvaille end-------------------------------*/
/*------------------------------------share-choice-------------------------------------*/
.share-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 160px;
}
@media (max-width: 1025px) {
  .share-choice {
    margin-bottom: 120px;
  }
}

.share-choice__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 37px;
}

.share-hashtag {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 24px;
}

.insta-shares {
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(6, 406px);
  grid-template-rows: 406px;
  grid-column-gap: 16px;
  overflow-x: hidden;
}
.insta-shares:hover {
  overflow-x: scroll;
}

.insta-shares__item-1, .insta-shares__item-2 {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.insta-shares__item-1:hover .insta-active, .insta-shares__item-2:hover .insta-active {
  opacity: 1;
}

.insta-shares__item-1 {
  background-image: url("/img/insta-shares/insta-shares-1.png");
}

.insta-shares__item-2 {
  background-image: url("/img/insta-shares/insta-shares-2.png");
}

.insta-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 406px;
  height: 406px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: -100%;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.insta-active__icon {
  margin-bottom: 17px;
}

.insta-active__link {
  font-size: 14px;
  font-weight: 500;
}

/*------------------------------------share-choice end----------------------------------*/
/*------------------------------------subscription-------------------------------------*/
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #212121;
  margin-bottom: 160px;
}

.subscription__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__content-left {
  padding: 37px 0 39px 0px;
}
@media (max-width: 824px) {
  .subscription__content-left {
    width: 40%;
  }
}

.subscription__title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 11px;
}
@media (max-width: 824px) {
  .subscription__title {
    font-size: 30px;
  }
}

.subscription__subtitle {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
@media (max-width: 824px) {
  .subscription__subtitle {
    font-size: 14px;
  }
  .subscription__subtitle br {
    display: none;
  }
}

.subscription__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 63px;
}

.input__email {
  display: block;
  width: 285px;
  padding: .5rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid #F1F2F3;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
}
.input__email:focus {
  outline: none;
  border-bottom: 1px solid #7A5CE6;
}
.input__email::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.input__email:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.input__email::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.input__email::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 824px) {
  .input__email {
    width: 210px;
  }
}

.subscription__button {
  margin-left: 115px;
}
@media (max-width: 1025px) {
  .subscription__button {
    margin-left: 55px;
  }
}
@media (max-width: 824px) {
  .subscription__button {
    margin-left: 33px;
  }
}
.subscription__button a {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 112px;
  background-color: #7A5CE6;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
.subscription__button a:hover {
  background-color: #593CC0;
  color: white;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1025px) {
  .subscription__button a {
    padding: 16px 70px;
  }
}
@media (max-width: 824px) {
  .subscription__button a {
    padding: 15px 40px;
  }
}

/*------------------------------------subscription end-------------------------------------*/
/*----------------------------------------footer------------------------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin: 60px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 44px;
  color: #fff;
}
@media (max-width: 824px) {
  .footer__nav-item {
    margin: 0 20px;
  }
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 63px 0;
}

.social__item {
  margin: 0 44px;
}
.social__item img {
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.social__item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
