body {
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1240px;
  margin: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*-----------------------------------top-bar------------------------------------------*/
.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 13px 0;
  background-color: #58585A;
}

.top-bar__text {
  text-align: center;
  font-size: 12px;
  line-height: 1;
  position: relative;
}
.top-bar__text a {
  color: inherit;
  font-weight: 500;
  margin-left: 8px;
  text-decoration: underline;
}

.close__top-bar {
  height: 12px;
  width: 12px;
  position: absolute;
  top: -11px;
  right: 0;
}
.close__top-bar img {
  height: 11px;
  width: 11px;
}

/*------------------------------------top-bar end---------------------------------------*/
/*------------------------------------header------------------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #212121;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo {
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}
.main-nav a {
  font-size: 14px;
  font-weight: 400;
}

.nav__item {
  padding: 32px 16px 29px 16px;
}
.nav__item:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #7A5CE6;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings__item {
  margin-left: 40px;
}

/*---------------------------------------header end--------------------------------*/
/*-------------------------------------main-banner--------------------------------*/
main {
  width: 100%;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 48px 0;
  background-image: url("/img/bg-image__main-banner.png");
  background-size: cover;
  height: 278px;
}

.main-banner__preview {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
}

.main-banner__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}

.main-manner__button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #7A5CE6;
  padding: 17px 93px;
}
