/*-------------------------------------main-product-card----------------------------*/
.main-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.main-product-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-product-card__left {
  width: 45.8%;
  display: grid;
  grid-template-columns: 25% 73%;
  grid-template-rows: 485px;
  grid-column-gap: 8px;
}
.main-product-card__left .min-product__photo {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 24.2%);
  grid-row-gap: 5px;
}
.main-product-card__left .min-product__photo .min-product__photo-item {
  opacity: 0.4;
}
.main-product-card__left .min-product__photo .min-product__photo-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-product-card__left .min-product__photo .min-product__photo-item:hover {
  cursor: pointer;
}
.main-product-card__left .min-product__photo .min-product__photo-item.active {
  opacity: 1;
}
.main-product-card__left .max-product__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-product-card__right {
  width: 48.2%;
}
