@import "vars";
@import "mixins";


/*-------------------------------------main-product-card----------------------------*/

.main-product-card {
    display: flex;
    justify-content: center;
    margin: 32px 0 120px 0;
}

.main-product-card__content {
    display: flex;
    justify-content: space-between;

    @include brakepoint($tablet-bp) {
        flex-direction: column;
        justify-content: none;
    }
}

.main-product-card__left {
    width: 45.8%;
    display: grid;
    grid-template-columns: 25% 73%;
    grid-template-rows: 485px;
    grid-column-gap: 8px;

    @include brakepoint($tablet-bp) {
        width: 100%;
    }

    .min-product__photo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 24.2%);
        grid-row-gap: 5px;

        .min-product__photo-item {
            opacity: 0.4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .min-product__photo-item.active {
            opacity: 1;
        }
    }

    .max-product__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.main-product-card__title-mobile {
    display: none;
    font-size: 40px;
    font-weight: 400;
    line-height: 1; 
    margin-bottom: 15px;

    @include brakepoint($tablet-bp) {
        display: block;
    }
}

.main-product-card__right {
    width: 48.2%;

    @include brakepoint($tablet-bp) {
        width: 100%;
    }

    .main-product-card__description {
        margin-bottom: 22px;
    }

    .main-product-card__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 1;

        @include brakepoint($laptop-bp) {
            display: none;
        }
    }

    .main-product-card__price {
        font-size: 44px;
        font-weight: 600;
        line-height: 1;
        margin: 24px 0;
    }

    .main-product-card__preview {
        font-size: 20px;
        font-weight: 300;
        color: #97979B;
        line-height: 160%;
    }

    .rating {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 16px;

        @include brakepoint($tablet-bp) {
            flex-direction: column;
            align-items: flex-start;
        }

        .stars__rate {
            img {
                width: 24px;
                height: 24px;
            }

            p {
                font-size: 16px;
                margin-top: 1px;
            }
        }

        .read-reviews {
            @include brakepoint($tablet-bp) {
                margin-top: 10px;
            }
        }
    }

    .main-product-card__footer {
        display: flex;
        margin-top: 32px;

        @include brakepoint($tablet-bp) {
            flex-direction: column;
        }

        .selector__items {
            display: flex;
            flex-direction: column;

            @include brakepoint($tablet-bp) {
                flex-direction: row;
                margin-bottom: 60px;
            }

            .color__selector {
                display: flex;
                align-items: center;
                margin-bottom: 34px;

                @include brakepoint($tablet-bp) {
                    order: 2;
                    margin-bottom: 0;
                }

                p {
                    font-size: 24px;
                    font-weight: 300;
                    margin-right: 24px;
                }

                span {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                
                span.black-color {
                    background-color: #18181A;
                }

                span.blue-color {
                    background-color: #004F97;
                }

                span.red-color {
                    background-color: #990611;
                }

                span.active {
                    transform: scale(1.3);
                }
            }

            .pagination__selector {
                width: 118px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #58585A;

                @include brakepoint($tablet-bp) {
                    width: 112px;
                    height: 35px;
                    order: 1;
                    margin-right: 40px;
                }

                span {
                    font-size: 25px;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .add-button {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;

            .add-to-cart {
                display: block;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                width: 100%;
                padding: 16px 0;
                background-color: $secondary-blue;
                transition: background-color .2s linear;

                &:hover {
                    background-color: $button-hover;
                    color: white;
                    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

/*-----------------------------------sale----------------------------*/

.sale {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    .sale__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.sale__content {

    .sale__title {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 60px;
    }

    .sale__items {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .slider__arrow-left {
            position: inherit;
        }

        .slider__arrow-right {
            position: inherit;
        }

        .plus-icon {
            font-size: 30px;
            line-height: 1;
        }
    }
}

.sale__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sale__item-title {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
    }

    .sale__item-price {
        display: flex;
        align-items: center;

        .old-price {
            font-size: 24px;
            font-weight: 300;
            color: #97979B;
            text-decoration: line-through;
            margin-right: 16px;
        }

        .new-price {
            font-size: 32px;
        }
    }
}

.total-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;

    .total-price__title {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .total-price__price {
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        line-height: 1;
        margin-bottom: 32px;
    }

    .button__buy {

        .buy-btn {
            display: block;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            width: 100%;
            padding: 16px 0;
            background-color: $secondary-blue;
            transition: background-color .2s linear;

            &:hover {
                background-color: $button-hover;
                color: white;
                box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

/*----------------------------------general-questions-----------------------------*/

.general-questions {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

.general-questions__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-questions__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 70px;
}

.general-questions__items {
    width: 78%;
}

.main-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 25px 0;
    border-bottom: 1px solid #97979B;
    transition: all .2s linear;

    p {
        font-size: 26px;
        font-weight: 400;
        color: #97979B;
        line-height: 1;
    }

    img {
        transition: all .2s linear;
        &:hover {
            cursor: pointer;
        }
    }
}

.main-questions.active {
    border-bottom: none;
    transition: all .2s linear;
    
    img {
        transform: rotate(45deg);
    }
}

.main-answer {
    display: none;
    padding-bottom: 25px;
    border-bottom: 1px solid #F1F2F3;

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1; 
        color: #F1F2F3;
    }
}

.main-answer.active {
    display: block;
}

.leave-review__button {
    display: block;
    border: 1px solid #7A5CE6;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 60px;

    .leave-review__btn {
        padding: 16px 70px;
    }
}

/*------------------------------------------reviews---------------------------------------------*/

.reviews {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__items {
    width: 78%;

    .reviews__items-title {
        font-size: 26px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 40px;
    }
}

.reviews__item {
    border-bottom: 1px solid #F1F2F3;
    margin-top: 32px;
    padding-bottom: 15px;

    .author__name {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 12px;

        img {
            margin-right: 10px;
        }
    }

    .stars__rate {
        img {
            width: 15px;
            height: 15px;
        }

        p {
            font-size: 14px;
        }
    }

    .main-message {
        display: flex;
        margin-top: 12px;

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 160%;
            color: #F1F2F3;
        }

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            color: $secondary-blue;
            text-decoration: underline;
            transition: all .2s linear;

            &:hover {
                color: $active;
            }
        }
    }

    .authors__product-photo {
        display: flex;
        margin: 40px 0 0 0;
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.reviews__pagination {
    width: 35.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

    .prew-arrow {
        display: flex;
        align-items: center;
        opacity: 0.5;
        transition: all .2s linear;

        img {
            margin-right: 15px;
        }

        p {
            font-size: 16px;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .next-arrow {
        display: flex;
        align-items: center;
        opacity: 0.5;
        transition: all .2s linear;

        img {
            margin-left: 15px;
        }

        p {
            font-size: 16px;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.pagination-number {
    display: flex;

    .pagination-number__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin: 0 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .pagination-number__item.active {
        background-color: #514388FF;
    }
}

